<nav class="navbar is-fixed-top is-transparent is-responsive mx-5" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start ml-3">
      <a href="<%= root_path %>" class="navbar-item oim">
        Valentin Chauveau
      </a>
    </div>

    <div class="navbar-end mr-3">
      <a href="<%= '#work' %>" class="navbar-item hover-underline-animation">
        Work
      </a>

      <a href="<%= '#about' %>" class="navbar-item hover-underline-animation">
        About
      </a>

      <a href="<%= '#contact' %>" class="navbar-item hover-underline-animation">
        Contact
      </a>
    </div>
  </div>
</nav>
