<section class="HomeHero is-responsive">
  <h2 class="HomeHeroTitle big-text columns">FULLSTACK<br>DEVELOPER</h2>
  <div class="columns">
    <span class="arrow big-text column is-one-fifth">↓</span>
    <p class="resume column">I SUPPORT DESIGNERS <br> AND AGENCIES WITH <br> CREATIVE DEVELOPMENT</p>
    <h2 class="HomeHeroName big-text column">VALENTIN<br>CHAUVEAU</h2>
  </div>
</section>
