<section class="hero is-responsive pt-6" id="top">
  <div class="hero-body">
    <h2 class="HomeHeroTitle big-text columns pl-2 mb-5 el">FULLSTACK<br>DEVELOPER</h2>
    <div class="columns my-5">
      <div class="column image el">
        <%= image_tag("profile-pic-blck.jpg") %>
      </div>
      <p class="resume column el">I SUPPORT DESIGNERS <br> AND AGENCIES WITH <br> CREATIVE DEVELOPMENT</p>
      <h2 class="HomeHeroName big-text column is-half is-align-content-baseline has-text-right el">VALENTIN<br>CHAUVEAU</h2>
    </div>
    <div class="columns">
      <span class="arrow big-text column is-one-fifth el">↓</span>
      <div class="column"></div>
      <span class="arrow big-text column is-one-fifth has-text-right el">↓</span>
    </div>
  </div>
</section>

<section class="Projects section is-responsive mb-6 mx-6", id="work">
  <h2 class="medium-text mb-5 is-widescreen el">PROJECTS</h2>

  <div class="songsalad columns my-6 el">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <%= image_tag("songsalad-screen.png") %>
        </div>
        <div class="flip-card-back">
          <a href="http://songsalad.com/" target="blank" class="has-text-left is-size-3">SONGSALAD.COM</a>
          <p class="mt-6 has-text-left">SONGSALAD IS A MOBILE FIRST GAME APP DEVELOPED ON RAILS. THE GOAL IS TO FIND THE LYRICS AND THE SONG TITLE IN ORDER TO WIN THE GAME SESSION</p>
        </div>
      </div>
    </div>
  <div class="column"></div>
  </div>

  <div class=" columns my-6 el">
    <div class="column my-6"></div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <%= image_tag("4.png") %>
        </div>
        <div class="flip-card-back">
          <a href="" target="blank" class="has-text-right is-size-3">LESBONSCOMPAGNONS.FR</a>
          <p class="mt-6 has-text-left">LES BONS COMPAGNONS ARE TRADERS OPERATING IN FOOD MARKETS. THIS IS A 360° PROJECT WHERE I CREATED LOGO & IDENTITY ALONGSIDE A MARKETPLACE. </p>
        </div>
      </div>
    </div>
  </div>

  <div class=" columns mt-6 el">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back">
          <h3>songsalad.com</h3>
          <p>game app</p>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</section>

<section class="About section is-responsive mt-6 mb-6", id="about">
    <h2 class="medium-text columns pl-3 mb-5">ABOUT</h2>
    <p class="el">
      I'M A 29YO FRENCH DEVELOPER <br>GRADUATED FROM LE WAGON NANTES. <br>
      I LOVE MAKING AND LISTENING TO MUSIC. <br>
      TAKE A LISTEN HERE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;→→→
    </p>
    <br>
    <p class="el">

      I'M CURRENTLY AVAILABLE TO WORK.
    </p>
</section>

<%# <section class="skills section el my-6">
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li>
        <a href="#">
          <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
          </span>
          <span>Technical</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon is-small">
            <i class="fas fa-book" aria-hidden="true"></i>
          </span>
          <span>Languages</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon is-small">
            <i class="fas fa-puzzle-piece" aria-hidden="true"></i>
          </span>
          <span>Tools</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon is-small">
            <i class="fas fa-thumbs-up" aria-hidden="true"></i>
          </span>
          <span>Project Management</span>
        </a>
      </li>
    </ul>
  </nav>
</section> %>

<%# <%= render partial: "3d_round_viewer" %>

<section class="Contact section columns is-responsive mx-6", id="contact">
    <button data-text-swap="Copied to <br> clipboard" onclick="copyText()" class="Email hover-underline-animation is-responsive my-6 el has-text-left">BONJOUR@VALENTIN <br> CHAUVEAU.COM</button>
    <script>

      function copyText() {
        /* Copy text into clipboard */
        navigator.clipboard.writeText
        ("bonjour@valentinchauveau.com");
      }

      var email = document.querySelectorAll("button")[0];
      email.addEventListener('click', function() {
      if (email.getAttribute("data-text-swap") == email.innerHTML) {
        email.innerHTML = email.getAttribute("data-text-original");
      } else {
        email.setAttribute("data-text-original", email.innerHTML);
        email.innerHTML = email.getAttribute("data-text-swap");
      }
        setTimeout(function(){
          email.setAttribute("data-text-swap", email.innerHTML);
          email.innerHTML = email.getAttribute("data-text-original");;
        }, 1500);

      }, false);


    </script>
</section>

<footer class="footer is-medium px-6 el">
  <div class="columns ">
    <a href="https://github.com/Ouskababoushka" class="column " target="_blank">Github</a>
    <div class="column has-text-centered">Made with 🖤 by<br>Valentin Chauveau 2022</div>
    <a href="https://www.linkedin.com/in/valentinchauveau/" class="column has-text-right" target="_blank">Linkedin</a>
  </div>
</footer>

<script>
  ScrollReveal().reveal('.el', {
      delay: 500,
      useDelay: 'onload',
      reset: true,
  })

  ScrollReveal().reveal('.el', {
      delay: 0,
      interval: 80
  })
</script>
