<section class="hero is-responsive pt-6 mb-6" id="top">
  <div class="hero-body">
    <h2 class="HomeHeroTitle big-text columns pl-2 mb-5 el is-size-2-mobile">WEB<br>DEVELOPER</h2>
    <div class="columns my-5">
      <div class="column image el">
        <%= image_tag("profile-pic-blck.jpg") %>
      </div>
      <div class="resume column el typewriting is-size-9-mobile">
        <h1>
          <a class="typewrite" data-period="2000" data-type='["I CREATE LOGOS, WEBSITES AND APPLICATIONS."]'>
            <span class="wrap"></span>
          </a>
        </h1>
      </div>
      <h2 class="HomeHeroName big-text column is-half is-align-content-baseline has-text-right el is-size-2-mobile">VALENTIN<br>CHAUVEAU</h2>
    </div>
    <div class="columns is-mobile">
      <span class="arrow big-text column is-one-fifth el">↓</span>
      <div class="column"></div>
      <span class="arrow big-text column is-one-fifth has-text-right el">↓</span>
    </div>
  </div>
</section>

<section class="Projects section mx-6 my-6 is-medium", id="work">
  <h2 class="medium-text mb-5 el is-size-4-mobile">PROJECTS</h2>

  <div class="songsalad lbc columns mt-6">
    <div class="flip-card column mb-6 el">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="songsalad-image"></div>
        </div>
        <div class="flip-card-back has-text-left">
          <a href="http://www.songsalad.com/" target="blank" class="has-text-left is-size-3 is-size-5-mobile">SONGSALAD.COM</a>
          <p class="text-work mt-6 has-text-left is-size-6-mobile">•Personal Project• <br> Songsalad is a mobile first game application developed on rails.
            The goal is to find the lyrics and the title of the song in order to win the game.
          </p>
        </div>
      </div>
        <a href="http://www.songsalad.com/" target="blank" class="has-text-left is-size-4 is-size-6-mobile visit"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="currentColor" class="mt-2 icon w-1 h-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" /></svg></a>
    </div>

    <div class="flip-card column mb-6 el">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="tortuga-image"></div>
        </div>
        <div class="flip-card-back has-text-left">
          <a href="https://www.tortugadivingclub.com/" target="blank" class="has-text-left is-size-3 is-size-5-mobile">TORTUGADIVINGCLUB.COM</a>
          <p class="text-work mt-6 has-text-left is-size-6-mobile">tortugadivingclub.com is a wordpress website that i built as a demo project for scuba diving businesses.
          </p>
        </div>
      </div>
        <a href="https://www.tortugadivingclub.com/" target="blank" class="has-text-left is-size-4 is-size-6-mobile visit"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="currentColor" class="mt-2 icon w-1 h-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" /></svg></a>
    </div>
  </div>

  <div class="rockyaloha columns mt-6">
    <div class="flip-card column mb-6 el">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="rockyaloha-image"></div>
        </div>
        <div class="flip-card-back has-text-left">
          <a href="" target="blank" class="has-text-left is-size-3 is-size-5-mobile">ROCKY-ALHOA.COM</a>
          <p class="text-work mt-6 has-text-left is-size-6-mobile">•Personal Project• <br>Rocky Aloha is a marketplace inspired by Airbnb, designed and developed within a week.
            I intervened on both front-end and back-end.</p>
        </div>
      </div>
    <a href="http://rocky-aloha.herokuapp.com/" target="blank" class=" has-text-left is-size-4 is-size-6-mobile visit"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.9" stroke="currentColor" class="mt-2 icon w-1 h-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" /></svg></a>
    </div>

    <div class="flip-card column mb-6">
      <%# <div class="flip-card-inner el">
        <div class="flip-card-front">
          <div class="lbc-image"></div>
        </div>
        <div class="flip-card-back has-text-left">
          <a href="" target="blank" class="is-size-3 is-size-5-mobile">LESBONSCOMPAGNONS.FR</a>
          <p class="text-work mt-6 has-text-left is-size-6-mobile">Les Bons Compagnons are traders operating in food markets. This is a 360° project with logo & identity creation alongside a web platform. Coming soon. </p>
        </div>
      </div> %>
    </div>
  </div>
</section>

<section class="Skills section mx-5 mt-1 is-medium columns", id="skills">
  <div class="column pl-3">
  <h2 class="medium-text mb-6 el is-size-4-mobile">SKILLS</h2>
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-6">
        <div class="p-6" style="position: relative;">
          <img class="el is-relative is-radius is-fullwidth is-object-cover" style="height: auto; max-height: 600px; z-index: 10;" src="https://images.unsplash.com/photo-1584947113929-2d02f9c06203?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="">
        </div>
      </div>
      <div class="column is-6 ">
        <div class="el is-flex mb-6">
          <div class="mr-4 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="ic image is-24x24"><path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 9c2.7 0 5.8 1.29 6 2v1H6v-.99c.2-.72 3.3-2.01 6-2.01m0-11C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"></path></svg>
          </div>
          <div>
            <h3 class="title is-size-5 is-size-6-mobile is-spaced mb-3 " contenteditable="false">LOGO &amp; IDENTITY CONCEPTION</h3>
            <p class="subtitle is-size-6-mobile" contenteditable="false">Let's create a cohesive logo &amp; identity (including webdesign) that is true to the soul of your business.</p>
          </div>
        </div>
        <div class="el is-flex mb-6">
          <div class="mr-4 ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="ic image is-24x24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"></path>
            </svg>
          </div>
          <div>
            <h3 class="title is-size-5 is-size-6-mobile is-spaced mb-3">APPLICATIONS TAILORED TO YOUR NEEDS</h3>
            <p class="subtitle is-size-6-mobile">Let's tailor the perfect app for your needs that manage business and technical issues.</p>
          </div>
        </div>
        <div class="el is-flex">
          <div class="mr-4 ">
            <svg class="ic image is-24x24" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z"></path>
            </svg>
          </div>
          <div>
            <h3 class="title is-size-5 is-size-6-mobile is-spaced mb-3">WORDPRESS WEBSITE DELIVERED TURNKEY</h3>
            <p class="subtitle is-size-6-mobile ">Let's create an efficient wordpress website with style, that you'll be able to manage with simplicity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="About section mx-5 mt-1 is-medium columns", id="about">
    <div class="column pl-3">
    <h2 class="medium-text mb-6 el is-size-4-mobile">ABOUT</h2>
      <p class="el is-size-6-mobile">
        I'M A 29YO FRENCH DEVELOPER GRADUATED <br> FROM LE WAGON NANTES.
        I'M CURRENTLY <br> WORKING AS A FREELANCE DEVELOPER <br> BUT I'M ALWAYS OPEN TO NEW PROJECTS. <br>
        I'M ALSO A PASSIONATE MUSIC COMPOSER.
      </p>
      <br>
      <%# <p class="el">•CLICK THE VINYL TO TAKE A LISTEN•</p> %>
      <br>
    </div>
    <div class="column has-text-right has-text-center-mobile el">
      <%= link_to "https://open.spotify.com/artist/1BhytEyR0LxnxXoeQPxGVV", target: "_blank" do %>
        <%= image_tag ("vinyl.jpg"), class:"rotate", width: 300, height: 300%>
      <% end %>
    </div>
</section>

<section class="typewriting section columns mx-5">
  <div class="column pl-3 has-text-centered is-size-7-mobile">
    <h1>
      <a class="typewrite" data-period="2000" data-type='[ "WANT TO WORK TOGETHER ?", "SEND ME A MESSAGE" ]'>
        <span class="wrap"></span>
      </a>
    </h1>
  </div>
</section>

<section class="Contact section columns mx-6", id="contact">
    <button data-text-swap="Copied to <br> clipboard" onclick="copyText()" class="Email hover-underline-animation my-6 el has-text-left">VALENTINCHAUVEAU <br> .WEB@GMAIL.COM</button>
</section>

<footer class="footer is-medium px-6 el">
  <div class="columns">
    <a href="https://github.com/Ouskababoushka" class="column has-text-left-mobile " target="_blank">Github</a>
    <div class="column has-text-centered has-text-left-mobile">Made with 🖤 by<br>Valentin Chauveau 2022</div>
    <a href="https://www.linkedin.com/in/valentinchauveau/" class="column has-text-right has-text-left-mobile" target="_blank">Linkedin</a>

  </div>
</footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 3000,
    once: true,
  });
</script>

<script>
navigator.clipboard.writeText
    ("valentinchauveau.web@gmail.com");

    var email = document.querySelectorAll("button")[0];
    email.addEventListener('click', function() {
      if (email.getAttribute("data-text-swap") == email.innerHTML) {
        email.innerHTML = email.getAttribute("data-text-original");
      } else {
        email.setAttribute("data-text-original", email.innerHTML);
        email.innerHTML = email.getAttribute("data-text-swap");
      }
        setTimeout(function(){
          email.setAttribute("data-text-swap", email.innerHTML);
          email.innerHTML = email.getAttribute("data-text-original");;
        }, 1500);
    }, false);
</script>

<script>
    /* navbar scroll color */

    const [red, green, blue] = [225, 223, 221]
    const navbar = document.querySelector('.navbar')
    const anchor = document.querySelectorAll('a[href^="#"]')
    // const underline = document.queryClassName('hover-underline-animation:after')

    window.addEventListener('scroll', () => {
      navbar.classList.add('hidden');
      let y = 1 + (window.scrollY || window.pageYOffset) / 150
      y = y < 1 ? 1 : y
      const [r, g, b] = [red/y, green/y, blue/y].map(Math.round)
      // navbar.style.backgroundColor = `rgb(${r}, ${g}, ${b})`

      if (y >= 3.5) {
        anchor.forEach( a => {
          a.style.color = `rgb(${255}, ${255}, ${255})`
          // console.log(a)
        })
      } else {
        anchor.forEach( a => {
          a.style.color = `rgb(${0}, ${0}, ${0})`
        })
      }

      if (y <= 7.5) {
        navbar.style.backgroundColor = `rgba(${r}, ${g}, ${b}, ${0.6})`
      } else {
        navbar.style.backgroundColor = `rgb(${r}, ${g}, ${b})`
      }
    });

    /* scroll smooth to anchor */

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
          e.preventDefault();

          document.querySelector(this.getAttribute('href')).scrollIntoView({
              behavior: 'smooth'
          });
      });
    });
</script>

<script>
var TxtType = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 200 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
      }

      setTimeout(function() {
      that.tick();
      }, delta);
    };

    window.onload = function() {
      var elements = document.getElementsByClassName('typewrite');
      for (var i=0; i<elements.length; i++) {
          var toRotate = elements[i].getAttribute('data-type');
          var period = elements[i].getAttribute('data-period');
          if (toRotate) {
            new TxtType(elements[i], JSON.parse(toRotate), period);
          }
      }
    };
</script>

<script>
  ScrollReveal().reveal('.el', {
    delay: 800,
      useDelay: 'onload',
      reset: true,
  })

  ScrollReveal().reveal('.el', {
    delay: 0,
      interval: 120
  })
</script>
